
body {
 padding-top: 32px !important;
}

.dataTables_length{
  width: auto;
}

.dataTable{
  width: 100%;
}

.number {
  text-align: right;
}

td.rate::after{
  content: '%';
}

td.flag {
  max-width: 10px;
}